/* body text and font */
body {
  margin: 0;
  /*changed font style*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*color for text at bottom reflection*/
  color: #680eb6;
  line-height: 1.5;
  padding: 0 24px 40px;
}
/* Section 1 — Nav bar (based on Nav Bar preset) */
.navbar {
  display: flex;
  /*per assignment instructions use justify-content: space-between*/
  justify-content: space-between;
  /*per assignment instructions use align-items: center*/
  /*This places the nav bar toward center*/
  align-items: center;
  

  /*adding padding for shape copied padding provided in body section*/
  padding: 0 24px 20px;

  /*Adding background color for Nav bar */
  background-color: rgb(120, 26, 149); 

  /*adding color for font for Nav Bar*/
  /*color of text for logo*/
  color: rgb(234, 229, 228); 
}

/*ChatGPT helped with adding list-style code as none*/

.navlinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
/*ChatGPT help with changing nav links text color*/
.navlinks a {
  color: rgb(234, 229, 228);
}

/* Changes nav link color from white to peach like color when mouse hovers over it */
.navlinks a:hover {
  color: rgb(218, 142, 155);
}


/* Section 2 — Centered hero */
/*To center hero image used center in both justify-content and align items*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  /*adding background color for box shape and color for text color*/
  
/*playground gradient color*/



/* Radial — circle or ellipse, positioned anywhere */
background: radial-gradient(circle, #aa3f75, #847ed9); 

 /* Text color for hero*/
  color: rgb(234, 229, 228);
}

/* Section 3 — Responsive card row */
/*ChatGPT help with card section*/
.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  /*copied sample*/
 

/*text color for card*/
 color: rgb(234, 229, 228);
}
.card {
  flex: 1 1 240px;
  /* background, padding, border-radius */
  /*background color to see shape*/
  /*background color changed to match background color for nav bar heading*/
  background-color: rgb(120, 26, 149); 
  /*Padding added for shape*/
  /*ChatGPT assistance with padding numbers to move text from top to middle of each box*/
  padding: 20px 24px;
  border-radius: 10%;



/*ChatGPT help in centering text lettering on each card*/
 /* Centers the text inside each card */
  display: flex;
  justify-content: center;
  align-items: center;
}
